@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --primaryColor: hsl(0, 36%, 70%);
    --primaryColorSecond: hsl(0, 93%, 68%);
    --secondaryColor: hsl(0, 6%, 24%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
}
.mainWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.formBox{
    width: 50%;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: contain;
}
.titleBox{
    text-align: left;
    margin-top: 150px;
    margin-left: 200px;
}

.formBox > img{
    margin-top: 70px;
    margin-left: 200px;
}

.title{
    letter-spacing: 10px;
    padding: 5px;
    font-weight: 700;
    font-size: 64px;
    color: var(--secondaryColor);
    text-transform: uppercase;
}
.titleCustom{
    color: var(--primaryColor);
    font-weight: 300;
}



.textBox{
    color: var(--primaryColor);
    text-align: left;
    margin-left: 200px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400;
    padding: 10px;
    line-height: 26px;
    
}
.imgBox{
    width: 50%;
}

.formBox > input, button{
    transform: translateX(220px);
    margin-top: 50px;
}
.formContainer > input{
    position: relative;
    border-radius: 35px;
    height: 50px;
    border: 0.01px solid var(--primaryColor);
    text-align: left;
    padding: 30px;
    width: 500px;
}
::placeholder{
    color: var(--primaryColor);
    font-weight: 300;
    font-size: 18px;

}
.formContainer > button{
    background-color: var(--primaryColor);
    height: 64px;
    width: 12%;
    border-radius: 35px;
    transform: translate(-120px, 4px);
    cursor: pointer;
}
.formContainer{
    margin-left: 200px;
    display: inline;
}
#result{
    text-align: left;
    margin-left: 210px;
    padding: 20px;
    color: var(--primaryColorSecond);

}
.zdj{
    transform: translateX(-80px);
    display: none;
}
